<div class="container">
    <div class="row justify-content-md-center">
        <form [formGroup]="addUpdateForm" class="col-md-6 col-lg-4 col-sm-12">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder="Name" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">EmployeeID</label>
                <input type="text" formControlName="empId" class="form-control" id="exampleFormControlInput1" placeholder="EmpID" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Contact No</label>
              <input type="text" formControlName="contact" class="form-control" id="exampleFormControlInput1" placeholder="Contact No">
            </div>
            <!-- <div class="form-group">
              <label for="exampleFormControlSelect2">Your Skills</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div> -->
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Skills</label>
              <textarea formControlName="skills"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
            <button pButton type="button" (click)="onSaveData()" label="Save" icon="pi pi-check" iconPos="left"></button> 
            </div>
          </form>
    </div>

</div>